/* GENERAL */
:root {
    --burgundy: #AC2230;
    --jade: #1AA750;
    --highlight: #FFCD34;
    --navy: #293C6B;
}

* {
    margin: 0;
    padding: 0;
}

a {
    transition: 0.2s ease-out;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* PRIMARY HEADER */
header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header-content {
    max-width: 1500px;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.toggle-languages {
    text-align: right;
    color: var(--jade);
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 300;   
}
.lang-btn a {
    text-decoration: none;
    color: black;
}

.lang-btn a:hover {
    color: var(--highlight);
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
.nav-logo-img {
    width: 220px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--navy);
    border: 3px solid transparent;
    font-size: 1.2rem;
}

.nav-link:hover{
    border-bottom-color: var(--highlight);
}

.top-navigation-hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: var(--navy);
}

@media(max-width:900px){
    .top-navigation-hamburger{
      display: block;
      padding-right: 1.1rem;
    }
   .top-navigation-hamburger.active-hamburger .bar:nth-child(2){
      opacity: 0;
    }
   .top-navigation-hamburger.active-hamburger .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
   .top-navigation-hamburger.active-hamburger .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
   .nav-menu{
      position: fixed;
      left: -100%;
      top: 73px;
      gap: 0;
      flex-direction: column;
      background-color: var(--jade);
      width: 100%;
      text-align: center;
      transition: 0.2s;
      padding: 20px 0 100vh 0;
      z-index: 100;
    }
   .nav-item{
      margin: 16px 0;
    }
    .nav-link{
        color: white;
    }
   .nav-menu.active-hamburger{
      left: 0;
    }
}

/* HOMEPAGE */

.homepage-welcome {
    background-color: var(--navy);
}

.homepage-welcome-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2.5rem 1rem 4rem 1rem;
    text-align: center;
}

.homepage-welcome-content p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.homepage-search {
    padding: 1rem 0;
    margin: 0 auto;
    border-radius: 3px;
}

.homepage-search-widget {
    display: flex;
    justify-content: center;
}

.homepage-search h2 {
    color: white;
    text-align: center;
    padding: 0 0 1rem 0;
}

#homepage-search-input {
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    height: 3rem;
    width: calc(100% - 80px); 
    max-width: 420px;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#homepage-search-btn {
    margin-left: 10px;
    height: 3rem; 
    width: 50px;
    color: var(--jade);
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
}

#homepage-search-btn:hover {
    background-color: var(--highlight);
}

textarea:focus,
input:focus {
    outline: none;
}


/* HOMEPAGE BLOG */

.homepage-blog {
    margin-top: 3rem;
    padding: 0 1rem;
}

.homepage-blog-content #blog-display {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.homepage-blog-content .blog-card {
    width: calc(25% - 50px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homepage-blog-content .blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@media (max-width: 1200px) {
    .homepage-blog-content .blog-card {
        width: calc(50% - 50px); /* Adjust the width for 2 cards in a row */
    }
}

@media (max-width: 600px) {
    .homepage-blog-content .blog-card {
        width: calc(100% - 50px); /* Adjust the width for 1 card in a row */
    }
}

.blog-card a {
    text-decoration: none;
    color: black
}

.blog-card-head {
    position: relative; 
}

.blog-date {
    position: absolute; 
    top: 0; 
    right: 0; 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 5px; 
    font-family: 'Lato', sans-serif;
}

.blog-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.blog-card-body {
    padding: 5px 10px 20px 10px;
}

.blog-card-body h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.blog-card-body p {
    font-size: 14px;
    font-weight: 200;
}

.blog-loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--burgundy); 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none; /* Hide the loader initially */
    margin: auto; /* Center the loader */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.read-more {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: right;
    padding: 2rem 2rem 0 0;
}

.read-more a {
    color: var(--burgundy);
    text-decoration: none;
}

.read-more a:hover {
    color: var(--highlight);
}

/* PAGES */
.page-heading {
    background-color: var(--navy);
    padding: 2.5rem 0;
}

.page-heading h1 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
.page-heading h2 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
}

/* ABOUT */
.about-content {
    max-width: 900px;
    margin: 2rem auto 6rem auto;
    padding: 0 1rem;
}

.about-content p { 
    font-weight: 200;
    padding-bottom: 1rem;
}

.about-content h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.development-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem 0;
    gap: 30px;
}

.development-team-member {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 1rem;
}

.name {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important; 
    padding-bottom: 5px !important; 
}

.title {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--navy);
}

.development-team-member a {
    background-color: var(--navy);
    color: white;
    width: 25px;
    padding-top: 2px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.development-team-member a:hover {
    background-color: var(--highlight);
}

.collaborating-partners-images {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.partner-img {
    height: 40px;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 10px;
}




 /* SOURCES */
 
 .sources-search-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Adjust the gap between elements as needed */
    background-color: var(--navy);
    padding-bottom: 2rem;
}

.sources-search-widget select,
.sources-search-widget input,
.sources-search-widget button {
    height: 2.5rem;
    padding: 0 0.5rem; 
    border: none;
    font-size: 1rem; 
    border-radius: 5px;
}

.sources-search-widget input {
    width: 50%;
}

.sources-search-widget button {
    background-color: white;
    color: black;
    border: none; 
    cursor: pointer;
    width: 50px;
    transition: 0.2s ease-out;
}

.sources-search-widget button i {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.sources-search-widget button:hover {
    background-color: var(--highlight);
}

#formats:focus {
    outline: 1px solid var(--highlight) !important;
}

#sources {
    padding: 0 1rem;
}

#sources-display {
    margin: 1rem auto;
    max-width: 1200px;
    border-bottom: 1px solid var(--navy);
}

#search-summary {
    font-style: italic;
    padding: 1rem 0;
    text-align: center;
    color: var(--burgundy);
}

.source-row-accordion {
    display: flex;
    border-top: 1px solid var(--navy);
    padding: 5px 10px;
    font-family: 'Lato', sans-serif;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    transition: 0.2s ease-out;
}

.source-type-icon {
    font-size: 1.5rem;
}

.source-row-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.source-row-panel-content {
    padding: 0.5rem 1rem 2.5rem 1rem;
}

.active-source, .source-row-accordion:hover {
    background-color: var(--highlight);
}

.source-type-icon {
    font-size: 18px;
}

.source-element {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.source-element-tag {
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.source-element-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.subject-tag {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--jade);
    text-decoration: underline;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subject-tag:hover {
    color: var(--highlight);
}

.source-url {
    background-color: var(--jade);
    width: fit-content;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid var(--navy);
    transition: 0.2s ease-out;
}
.fa-arrow-up-right-from-square {
    font-size: 11px;
}

.source-url:hover {
    background-color: var(--highlight);
}

.source-url a {
    text-align: center;
    color: white;
    text-decoration: none;
}

#loader {
    margin-top: 60px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--burgundy);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* STORIES */
.stories {
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    gap: 70px;
    max-width: 1000px;
}

.story-content {
    flex: 1;
    width: 50%;
}

@media (max-width: 900px) {
    .stories {
        flex-direction: column;
    }
    .story-content {
        width: 100%;
    }
}

.story-content-heading {
    margin-bottom: 2rem;
    color: black;
    text-align: center;
}

.history-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.history-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.history-card a {
    text-decoration: none;
    color: black;
}

.history-title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.history-summary {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 1rem;
}

.stories #blog-display {
    display: block;
}

.stories .blog-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stories .blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*  HELP  */

.help-display {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.help-accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    font-family: 'Lato', sans-serif;
  }
  
  .help-active, .help-accordion:hover {
    background-color: var(--highlight);
  }
  
  .help-accordion-panel a {
    color: var(--jade);
  }
  .help-accordion-panel a:hover {
    color: var(--highlight);
  }

  .help-accordion-panel {
    margin: 10px 0;
    padding: 0 18px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .help-accordion-panel p {
    padding: 15px 0;
  }
  .help-accordion-panel ul {
    padding: 0 0 10px 40px;
  }

/* PRIMARY FOOTER */
#primary-footer {
    background-color: var(--navy);
    padding: 2rem 0;
    margin-top: 4rem;
}

.primary-footer-content img {
    width: 150px;
}

.primary-footer-content {
    text-align: center;
    color: white
}

.primary-footer-content a {
    color: white;
}

.primary-footer-content a:hover {
    color: var(--highlight);
}

.footer-socials {
    font-size: 2rem;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.primary-footer-content p {
    font-size: 12px;
    padding-top: 1rem;
}

